
<!-- ESTE HTML NO LO ESTAOY USANDO -->


{% extends 'main.html'%}
{% load static %}

{% block title %} COMENTANDO {% endblock %}

{% block content %}

    <div>

        <form method="post" action=""> 
            
            {% csrf_token %}
            {{ form.as_p }}
        
            <input type="submit" name="enviar" value="Comentar">
        
        </form> 
        
        <tbody>
        
            {% for comentario in comments %}
        
            <p> {{ comentario.name }} </p>
            <p> {{ comentario.content }} </p>
        
        
            {% endfor %}
        
        </tbody>


    </div>


{% endblock content %}


