{% extends 'main.html'%}

<h1>Post page</h1>

{% block content %}

<div class="container">

    <br>

    <img class="img-thumbnail" src="{{post.imagen_portada.url}}">

    <h1> {{post.title}} </h1>

    <h5> {{post.subtitulo}} </h5>

    <p> {{post.description}} </p>

    <br>
    <br>
       <p> Creado: {{post.fecha_creacion}} </p>
    <br>


    <a type="button" class="btn btn-light" href="{% url 'update-post' post.id%}">Modificar</a>
    <a type="button" class="btn btn-danger" href="{% url 'delete-post' post.id%}?next=/post/{{post.id}}">Borrar</a>
</div>

{% endblock content %}
<br>
